<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>

        <h1>익명게시판</h1>
        <div>
            <a class="btn btn-primary" href="/boards/new">New</a>
        </div>
        <table class="board-table table table-sm border-bottom">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Title</th>
                    <th scope="col">조회수</th>
                    <th scope="col" class="date">Date</th>
                    <th scope="col">내용</th>
                </tr>
            </thead>
            <% for(let i=0; i<result.length; i++){ let results=result[i]; %>
                <tr>
                    <td>
                        <%=results.bd_no%>
                    </td>
                    <td>
                        <a href="/boards/show/<%=results.bd_no%>"><%=results.bd_title%></a>
                    </td>
                    <td>
                        <%=results.bd_hit%>
                    </td>
                    <td>
                        <%=results.bd_date%>
                    </td>
                    <td>
                        <%=results.bt_text%>
                    </td>
                </tr>
                <% } %>
        </table>
        

</body>

</html>