<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head') %>

</head>
<% var read=rows[0]; %>

<a class="btn btn-primary" href="/boards/show/<%=read.bd_no%>/edit">EDIT</a>
<a class="btn btn-primary" href="/boards">LIST</a>
<body>
    <%- include('../partials/nav') %>
      <h1>
        <%= title %>
      </h1>
      <table border="2">
        <tr>
          <th>번호</th>
          <td>
            <%=read.bd_no%>
          </td>
          <th>조회수</th>
          <td>
            <%=read.bd_hit%>
          </td>
          <th>글쓴이</th>
          <td>
            <%=read.bd_writer%>
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td colspan="5">
            <%=read.bd_title%>
          </td>
        </tr>
        <tr>
          <th>작성일</th>
          <td colspan="2">
            <%=read.bd_date%>
          </td>
          <th>수정일</th>
          <td colspan="2">
            <%=read.moddate%>
          </td>
        </tr>
        <tr>
          <td colspan="6" height="200">
            <%=read.bt_text%>
          </td>
        </tr>
      </table>

  </body>

</html>